<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">

</head>

<body>

    <h1> Todays Articles:</h1>

    <div class="container">

        <div class="col-md-12">
            <div class="panel panel-default">
                <ul class="list-group">
                    {{#each articles}}
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-md-8">
                                <a href="{{this.link}}">
                                    <h2>{{this.title}}</h2>
                                </a>
                                <p>By:{{this.byLine}}</p>
                                <p>{{this.articleDateTime}}</p>
                            </div>
                            <div class="col-md-4">
                                <button type="button" class="btn btn-primary add-note-button" id="addButton" data-toggle="modal" data-value="{{this._id}}" data-target=".notes-modal">Add Comment</button>
                            </div>
                        </div>
                    </li>
                    {{/each}}
                </ul>
            </div>
        </div>


        {{!--modal--}}
        <div class="modal fade notes-modal" id="noteModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title"></h4>
                    </div>
                    <div class="modal-body">
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <div class="note-div">

                                </div>
                            </div>
                        </div>
                        <textarea class="form-control" id="note-textarea" rows="3"></textarea>
                        <div class="modal-footer">
                            <button class="btn btn-success" id="save-note-button" data-dismiss="modal">Save Note</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>